<html>
  <head>
    <link  rel="stylesheet"  href="/css/bootstrap.min.css"/>
    <link  rel="stylesheet"  href="../public/css/estils.css"/>

    <title>
      {% block titol %}
        {% endblock%}
      </title>
    </head>
    <body>
    <nav class="navbar navbar-expand navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand"></a>
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          href="/"
          >Inici
        </a>
      </li>
       <li class="nav-item">
        <a
          class="nav-link"
          href="/pelicules"
          >Administració de pelicules
        </a>
      </li>
    </ul>
  </div>
</nav>
      <div class="container">
        {% block contingut %}
          {% endblock%}
        </div>
      </body>
    </html>